.app {
  background-color:#f3e8eb;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 100%;
}

.header {
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 36px;
  margin-top: 5px;
}

.activities-list {
  list-style: none;
  text-align: center;
}

.card {
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s all ease;
  width: 70%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.card-image {
  width: 50%;
}

.card-name, .card-location, .card-address, .card-completed {
  background-color: white;
}

.card-name {
  text-transform: uppercase;
  font-weight: 300;
}

.card-location {
  font-weight: 250;
  margin-bottom: 5px;
}

.card-address {
  font-weight: 200;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-completed {
  margin-top: 5px;
  font-weight: 200;
  font-size: 14px;
}

.form-div {
  border: solid 5px #FF327C;
  box-shadow: 3px 2px 22px 10px rgba(44, 42, 43, 0.235);
  margin-top: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
}

.form input {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  margin-top: 10px;
  width: 500px;
  background-color:  rgba(238, 237, 237, 0.779);
  border-radius: 5px;
}

.form label {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.form button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  background-color: rgba(62, 62, 62, 0.624);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  height: 25px;
  border-radius: 3px;
}

.form-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}